In [14]:
import pandas as pd
from dotenv import load_dotenv
import os
import time
import json
import requests

In [15]:
# Get the fred api key
load_dotenv("keys.env")
fred_api_key = os.getenv("FRED_API_KEY")

In [27]:

df_dict = {"income": "", "house": "", "minimum wage": ""}
series_id_list = ["NCPCPI", "NCSTHPI", "STTMINWGNC"]
for id in series_id_list:
    response = requests.get(f"https://api.stlouisfed.org/fred/series/observations?series_id={id}&api_key={fred_api_key}&file_type=json")
    data = response.json()
    df = pd.DataFrame(data['observations'])

    if id == "NCPCPI":
        df_dict['income'] = df
    elif id == "NCSTHPI":
        df_dict['house'] = df
    elif id == "STTMINWGNC":
        df_dict['minimum wage'] = df

In [22]:
df = pd.DataFrame(data['observations'])
df

    realtime_start realtime_end        date   value
0       2024-08-08   2024-08-08  1975-01-01   66.03
1       2024-08-08   2024-08-08  1975-04-01   67.19
2       2024-08-08   2024-08-08  1975-07-01    69.1
3       2024-08-08   2024-08-08  1975-10-01   70.61
4       2024-08-08   2024-08-08  1976-01-01   68.72
..             ...          ...         ...     ...
192     2024-08-08   2024-08-08  2023-01-01  617.47
193     2024-08-08   2024-08-08  2023-04-01  636.51
194     2024-08-08   2024-08-08  2023-07-01  650.12
195     2024-08-08   2024-08-08  2023-10-01   649.3
196     2024-08-08   2024-08-08  2024-01-01  659.03

[197 rows x 4 columns]